@charset "UTF-8";

.header {
  position: sticky;
  top: 0;
}

/* menu style */
.cp_navi {
  background-color: #ffffff;
  border: 1px solid #dedede;
  border-radius: 4px;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
  color: #888888;
  display: block;
  margin: 1em 1%;
  overflow: hidden;
  width: 98%;
}
.cp_navi ul {
  margin: 0;
  padding: 0;
}
.cp_navi ul li {
  display: inline-block;
  list-style-type: none;
  -webkit-transition: all 0.2s;
          transition: all 0.2s;
}
.cp_navi > ul > li > a > .caret {
  border-top: 4px solid #aaaaaa;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: '';
  display: inline-block;
  height: 0;
  width: 0;
  vertical-align: middle;
  -webkit-transition: color 0.1s linear;
          transition: color 0.1s linear;
}
.cp_navi > ul > li > a {
  color: #aaaaaa;
  display: block;
  line-height: 56px;
  padding: 0 10px;
  text-decoration: none;
}
.cp_navi > ul > li:hover {
  background-color: rgb(218, 60, 65);
}
.cp_navi > ul > li:hover > a {
  color: rgb( 255, 255, 255 );
}
.cp_navi > ul > li:hover > a > .caret {
  border-top-color: rgb( 255, 255, 255 );
}
.cp_navi > ul > li > div {
  background-color: rgb(218, 60, 65);
  border-top: 0;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
  display: none;
  margin: 0;
  opacity: 0;
  position: absolute;
  width: 165px;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
         transition: opacity 0.2s;
}
.cp_navi > ul > li:hover > div {
  display: block;
  opacity: 1;
  visibility: visible;
}
.cp_navi > ul > li > div ul > li {
  display: block;
}
.cp_navi > ul > li > div ul > li > a {
  color: #ffffff;
  display: block;
  padding: 12px 24px;
  text-decoration: none;
}
.cp_navi > ul > li > div ul > li:hover > a {
  background-color: rgba( 255, 255, 255, 0.1);
}

/* table style */
table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  color: #888888;
}

table tr{
  border-bottom: solid 1px #eee;
  cursor: pointer;
}

table tr:hover{
  background-color: rgb(218, 60, 65);
  color: #ffffff;
}

table th,table td{
  text-align: center;
  /* width: 25%; */
  padding: 15px 0;
}

table td.icon{
  background-size: 35px;
  background-position: left 5px center;
  background-repeat: no-repeat;
  padding-left: 30px;
}

/* button style */
a.cp_btn {
  display: inline-block;
  position: relative;
  width: 160px;
  padding: 0.8em;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border:1px solid #FBC02D;
  background: #FBC02D;
  overflow: hidden;
  z-index: 1 !important;
}
a.cp_btn:after {
  content:"";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 0;
  width: 100%;
  background : #fff;
  opacity: 0;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transition: 0.3s;
  z-index: -1;
}
a.cp_btn:hover {
  color: #da3c41;
}
a.cp_btn:hover:after {
  height: 250%;
  opacity: 1;
}
a.cp_btn:active:after {
  height: 350%;
  opacity: 1;
}
