<html lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>{% block title %}{% end %}</title>
    <!-- <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{{ static_url("js/jobmy.js") }}"></script>
    <link rel="stylesheet" href="{{ static_url("css/style.css") }}">
    {% block head %}{% end %}
  </head>
  <body>
    <section class="header">
      <div class="cp_navi">
        <ul>
          <li><a href="/">Home</a></li>
          <li>
            <a href="#">Job <span class="caret"></span></a>
            <div>
              <ul>
                <li><a href="/job_edit">Job Entry</a></li>
                <li><a href="/job_list">Job List</a></li>
              </ul>
            </div>
          </li>
          <li><a href="#">About</a></li>
          <li><a href="#">Help</a></li>
        </ul>
      </div>
      {% block header %}{% end %}
    </section>
    <section class="content">
      {% block content %}{% end %}
    </section>
    <section class="footer">
      {% block footer %}{% end %}
    </section>
  </body>
</html>
