{% extends "base.html" %}
{% block title %}Job History Detail{% end %}
{% block head %}
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
{% end %}
{% block content %}
<table class="detail">
  <tr>
    <th>Job History ID</th>
    <th>Job ID</th>
    <th>Job Key</th>
  </tr>
  <tr>
    <td>{{ job["ID"] }}</td>
    <td>{{ job["JOB_ID"] }}</td>
    <td>{{ escape(job["JOB_KEY"]) }}</td>
  </tr>
</table>
<table class="detail">
  <tr>
    <th>Job Result</th>
    <th>Start Date Time</th>
    <th>End Date Time</th>
  </tr>
    <td>{{ escape(job["EXEC_RESULT"]) }}</td>
    <td>{{ job["START_DATETIME"] }}</td>
    <td>{{ job["END_DATETIME"] }}</td>
  <tr>
  </tr>
</table>
<table class="detail">
  <tr>
    <th>Job Title</th>
    <th>Job Remarks</th>
  </tr>
  <tr>
    <td>{{ escape(job["TITLE"]) }}</td>
    <td>{{ escape(job["REMARKS"]) }}</td>
  </tr>
</table>
<table class="detail">
  <tr>
    <th>Job Command</th>
  </tr>
  <tr>
    <td><pre class="prettyprint">{{ job["COMMAND"] }}</pre></td>
  </tr>
</table>
<table class="detail">
  <tr>
    <th>Job Schedule</th>
    <th>Job Max Execution Time</th>
    <th>Next Job IDs</th>
    <th>Caller Job Key</th>
  </tr>
  <tr>
    <td>{{ escape(job["SCHEDULE"]) }}</td>
    <td>{{ job["MAX_EXEC_TIME"] }}</td>
    <td>{{ escape(job["NEXT_JOB_IDS"]) }}</td>
    <td>{{ job["CALLER_JOB_KEY"] }}</td>
  </tr>
</table>
<table class="detail">
  <tr>
    <th>Host</th>
    <th>IP ADDRESS</th>
    <th>Process ID</th>
    <th>Return Code</th>
  </tr>
  <tr>
    <td>{{ escape(job["HOST"]) }}</td>
    <td>{{ escape(job["IP_ADDRESS"]) }}</td>
    <td>{{ job["PID"] }}</td>
    <td>{{ job["RETURN_CODE"] }}</td>
  </tr>
</table>
<table class="detail">
  <tr>
    <th>STD_OUT</th>
    <th>STD_ERR</th>
  </tr>
  <tr>
    <td><pre>{{ job["STD_OUT"] }}</pre></td>
    <td><pre>{{ job["STD_ERR"] }}</pre></td>
  </tr>
</table>
{% end %}
