{% extends "base.html" %}
{% block title %}Job Edit{% end %}
{% block head %}
<script type="text/javascript" src="{{ static_url("js/jobmy.js") }}"></script>
{% end %}
{% block header %}Job Edit{% end %}
{% block content %}
{% if locals().get("job_id", False) %}
<input type="hidden" id="job_id" name="job_id" value="{{ job_id }}" />
{% end %}
Job Title:<br><input type="text" id="title" name="title" value="{{ escape(title) if title is not None else '' }}" /><br>
Remarks:<br><textarea id="remarks" name="remarks" value="{{ escape(remarks) if remarks is not None else '' }}"></textarea><br>
Command:<br><textarea id="command" name="command" value="{{ command if command is not None else '' }}"></textarea><br>
Schedule(cron format or "Immediate")：<br><input type="text" id="schedule" name="schedule" value="{{ escape(schedule) if schedule is not None else '' }}" /><br>
<input type="button" value="登録" onClick="jobmy.putJob();" />
<span id="msg" name="msg"></span>
{% end %}
